*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.container{
  width: 90%;
  margin: auto;
}

a{
    text-decoration: none;
    color: inherit;
}

/* Start of navbar */
.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow:0px 2px 15px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
}
.navBar .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.site-logo{
    font-size: 30px;
    font-weight: 300;
    color: rgb(86, 84, 83);
    letter-spacing: 2px;
    margin-left: 40px;
    cursor: pointer;
}

.nav-pages ul{
    display: flex;
    gap: 30px;
    padding-top: 18px;
    padding-bottom: 18px;
    color: rgb(86, 84, 83);
    align-items: center;
}
.nav-pages ul li{
    list-style: none;
    display: flex;
    position: relative;
    
}
.nav-pages ul li a:hover{
    transition: 0.3s;
    color: rgb(235,93,30);
}
  

ul.drop{
  width: 10em;
  display: grid;
  transition: .2s ease-in;
  top: 4em;
  visibility: hidden;
  position: absolute;
  background-color: #fff;
  opacity: 0;
  box-shadow: 0 0 2em #00000012;
  padding: 1em;
  text-transform: capitalize;
}
ul.drop li{
  display: flex;
  align-items: center;
}
ul.drop li a{
  width: 100%;
}
ul li i{
  margin-left: .4em;
}
.drop1:hover .first-drop,
.drop2:hover .deep-drop {
  visibility: visible;
  opacity: 1;
  top: 2em;
}
ul.deep-drop{
    left: 7em;
    top: 0;
}
.drop2:hover .deep-drop{
  left: 11em;top: 0;
}

  /* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdown-content {
    display:block;
  }
  .dropdown2:hover .dropdown-content2 {
    display:block;
  } */
/* End of Dropdown style  */
  .getStarted{
    border: none;
    background-color: rgb(235,93,30);
    padding: 10px 25px;
    border-radius: 50px;
    cursor: pointer;
    color: white;

  }
  .getStarted:hover{
    background-color: rgb(242, 127, 77);
  }
  /*End of navbar*/