:root {
  --primary-color-dark: #4e4039;
  --primary-color-medium-dark: #7a6960;
  --primary-color-xmedium-dark: #c2b7b1;
  --primary-color-light-dark: #5a6570;
  --primary-color-white: #ffffff;
  --secondary-color-thick: #eb5d1e;
  --secondary-color-mdlight: #f39e7a;
  --secondary-color-mdlight2: #ef7f4d;
  --secondary-color-light: #fcebe3;
  --secondary-color-xlight-bg: #fef8f5;
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  margin: auto;
}

a {
  text-decoration: none;
  color: inherit;
}
i {
  line-height: 1rem;
}
li{
  list-style: none;
}
section {
  padding: 60px 0;
}
/* Start of navbar */
.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color-white);
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 10;
}
.fa-bars {
  visibility: hidden;
  position: absolute;
  right: 3rem;
}
.navBar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.site-logo {
  font-size: 30px;
  font-weight: 300;
  color: var(--primary-color-dark);
  letter-spacing: 2px;
  cursor: pointer;
}

.nav-pages ul {
  display: flex;
  gap: 30px;
  padding-top: 18px;
  padding-bottom: 18px;
  color: var(--primary-color-dark);
  align-items: center;
}
.nav-pages ul li {
  list-style: none;
  display: flex;
  position: relative;
}
.nav-pages ul li a:hover {
  transition: 0.3s;
  color: var(--secondary-color-thick);
}
/* start of drop down menu style */

ul.drop {
  width: 10em;
  display: grid;
  transition: 0.2s ease-in;
  top: 4em;
  visibility: hidden;
  position: absolute;
  background-color: var(--primary-color-white);
  box-shadow: 0 0 2em #00000012;
  padding: 1em;
  text-transform: capitalize;
}
ul.drop li {
  display: flex;
  align-items: center;
}
ul.drop li a {
  width: 100%;
}
ul li i {
  margin-left: 0.4em;
}
.drop1:hover .first-drop,
.drop2:hover .deep-drop {
  visibility: visible;
  opacity: 1;
  top: 2em;
}
ul.deep-drop {
  left: 7em;
  top: 0;
}
.drop2:hover .deep-drop {
  left: 11em;
  top: 0;
}

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown2:hover .dropdown-content2 {
  display: block;
}
/* End of Dropdown menustyle  */
.getStarted {
  border: none;
  background-color: var(--secondary-color-thick);
  padding: 10px 25px;
  border-radius: 50px;
  cursor: pointer;
  color: white;
}
.getStarted:hover {
  background-color: rgb(242, 127, 77);
}
/*End of navbar*/

/* start of hero section */
.hero-section {
  width: 100%;
  height: 70vh;
  border-bottom: 2px solid var(--secondary-color-light);
  background-color: var(--secondary-color-xlight-bg);
  display: flex;
}
.hero-section .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.left {
  width: 100%;
}
.left h1 {
  text-transform: capitalize;
  font-size: 48px;
  line-height: 56px;
  color: var(--primary-color-dark);
}
.left h1,
.left button,
.left p {
  margin-bottom: 1rem;
}
.left p {
  font-size: 24px;
  color: #a08f86;
  font-weight: 300;
}
.getStarted2 {
  border: none;
  background-color: var(--secondary-color-thick);
  padding: 10px 25px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}
.getStarted2:hover{
  opacity: .85;
}

.right img {
  max-width: 100%;
  height: auto;
  z-index: inherit; /*animating the image STARTS here    */
}
.right .animated {
  animation: bounce 2s ease-in-out infinite alternate-reverse both;
}
.fluid {
  max-width: 100%;
  height: auto;
}
@keyframes bounce {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, 15px, 0);
  }
} /*animating the image ENDS here    */

/* end of hero section */

/* start of about section code */
.about {
  display: flex;
}
.about .container {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
  align-items: center;
}
.about .container .right {
  padding-right: 1rem;
  padding-left: 1rem;
}
.about .container .left img {
  width: 100%;
}
.about .container .right h3 {
  font-weight: 700;
  font-size: 34px;
  color: var(--primary-color-dark);
  margin-bottom: 0.5rem;
  line-height: 1.2;
}
.about .container .right p {
  color: var(--primary-color-light-dark);
  font-size: 15px;
  margin-bottom: 1rem;
  line-height: 1.5rem;
}

.right-row2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  max-width: 100%;
}
.right-row2 i {
  color: var(--secondary-color-mdlight);
  margin-top: 15px;
  font-size: 48px;
}
.right-row2 h4 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 0.8rem;
  color: var(--primary-color-medium-dark);
  margin-bottom: 0.5rem;
  line-height: 1.2rem;
}
.right-row2 p {
  font-size: 15px;
  color: var(--primary-color-light-dark);
  margin-top: 0;
  margin-bottom: 1rem;
}

/* .animate-slideUp{
  animation: slideUp 2s ease-in  alternate-reverse both;
}

@keyframes slideUp {
  from{transform:translate3d(0,-30px,0)}
  to{transform: translate3d(0,0,0);}
}    */
/* end of about section code */

/* start of services section */
.services {
  background-color: var(--secondary-color-xlight-bg);
  display: flex;
  overflow: hidden;
}
.services .container h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1rem;
  margin-bottom: 15px;
  color: var(--primary-color-xmedium-dark);
  text-align: center;
}
.services .container i {
  font-size: 48px;
  color: var(--secondary-color-mdlight2);
}
.services-heading-p {
  text-align: center;
  padding-bottom: 15px;
  margin-bottom: 5px;
  font-size: 32px;
  font-weight: 700;
  color: var(--primary-color-dark);
}
.services .container hr {
  width: 60px;
  color: black;
  border: 2px solid var(--secondary-color-thick);
  margin: 0 auto;
}
.rectangles {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  margin-top: 2.5rem;
}
.rectangle {
  background-color: var(--primary-color-white);
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
  border-bottom: 3px solid var(--primary-color-white);
}
.rectangle a {
  padding-top: 1rem;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}
.rectangle p {
  line-height: 1.5rem;
  font-size: 15px;
  padding: 1rem;
}
/* end of service section */

/* start of portfolio section */
.portfolio {
  display: block;
  background-color: var(--primary-color-white);
}
.portfolio .container {
  align-items: center;
}

.filter-el {
  margin-top: 2rem;
  margin-bottom: 1rem;
  gap: 1em;
  display: flex;
  justify-content: center;
  z-index: 10;
}
.filter-el li {
  color: var(--primary-color-dark);
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  cursor: pointer;
}

.filter-el li:hover {
  color: var(--secondary-color-thick);
}

.img-row {
  /*portfolio images and hover begins here*/
  gap: 1.4em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
}
.img-row > div {
  border-radius: 20px;
  height: auto;
  overflow: hidden;
  position: relative;
}
.img-row > div::after {
  content: "";
  height: 100%;
  transition: 0.3s ease-in-out;
  position: absolute;
  width: 100%;
  right: -100%;
  background: var(--primary-color-light-dark);
  opacity: 0.6;
}
.img-row > div:hover::after {
  right: 0;
}
.img-row > div img {
  width: 100%;

  height: 100%;
}
.hover-text {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  z-index: 3;
}
.active {
  color: var(--secondary-color-thick);
}

.name {
  position: absolute;
  top: 80%;
  left: 52%;
  transform: translate(-80%, 52%);
  margin: 0 auto;
  text-align: center;
  color: white;
  transition: 0.3s ease;
  opacity: 0;
  visibility: hidden;
}
.img-row > div:hover .name {
  opacity: 1;
  top: 70%;
  visibility: visible;
}
.name h4 {
  font-size: 15px;
}
.lnks {
  position: absolute;
  top: 30%;
  left: 49%;
  transform: translate(-50%, 43%);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.7rem;
  visibility: hidden;
}
.img-row > div .hover-text .lnks i {
  font-size: 10px;
  background-color: var(--primary-color-white);
  border-radius: 50%;
  padding: 10px;
  text-align: center;
  z-index: 5;
}
.img-row > div:hover .hover-text .lnks {
  transition: 0.5s;
  top: 43%;
  visibility: visible;
}

.img-row > div .hover-text .lnks i:hover {
  background-color: var(--secondary-color-thick);
  color: var(--primary-color-white);
}
/* end of portfolio code */

/* start of faq section */
.faq {
  background-color: var(--secondary-color-xlight-bg);
}
.paragraphs {
  align-items: center;
  margin-top: 1.5rem;
}
.paragraph1 {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 1rem;
}
.faq .container i {
  font-size: 15px;
  color: var(--primary-color-dark);
}
.faq .container .paragraphs .paragraph1 p {
  line-height: 1.5rem;
  padding-bottom: 1rem;
  margin-top: 0.5rem;
}
.faq .container .paragraphs p {
  border-bottom: 1px solid #eae7e5;
  margin-bottom: 1rem;
  align-items: center;
  width: 100%;
  display: flex;
  gap: 0.5rem;
  cursor: pointer;
}
.faq .container .paragraphs p:hover {
  color: var(--secondary-color-thick);
}
/* end of faq section */

/* start of team */
.team {
  background-color: var(--primary-color-white);
}
.team .container {
  align-items: center;
}
.team .container .img-row {
  margin-top: 1.5rem;
  border-radius: 2px;
  justify-content: center;
}

.team .container .img-row .img-row2 {
  border-radius: 0;
}

.img-row > .img-row2::after {
  content: "";
  height: 100%;
  transition: 0.3s ease-in-out;
  position: absolute;
  width: 100%;
  bottom: -100%;
  left: 0;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0));
  opacity: 0.5;
  z-index: 2;
}

.img-row > .img-row2:hover::after {
  bottom: 0;
}

.name2 {
  position: absolute;
  bottom: 10%;
  left: 80%;
  transform: translate(-80%, 52%);
  align-items: center;
  text-align: center;
  color: white;
  transition: 0.3s ease;
  opacity: 0;
  visibility: hidden;
  width: 100%;
}

.img-row > .img-row2:hover .name2 {
  visibility: visible;
  transition: 0.5s;
  opacity: 1;
  bottom: 30%;
  left: 80%;
}

.img-row > .img-row2 .hover-text .lnks2 i {
  font-size: 20px;
  background-color: none;
  color: var(--primary-color-white);
  border-radius: 50%;
  padding: 8px;
  text-align: center;
  display: flex;
  z-index: 6;
  position: relative;
}
.img-row > .img-row2 .hover-text .lnks2 {
  float: left;
  visibility: hidden;
  position: absolute;
  left: -100%;
  background-color: #4e40396b;
  height: 100%;
  padding: 0.5rem;
}
.img-row > .img-row2:hover .hover-text .lnks2 {
  visibility: visible;
  left: 0rem;
  transition: 0.5s;
}

.img-row > .img-row2 .hover-text .lnks2 i:hover {
  color: var(--secondary-color-thick);
}
/* end of team */
/* start of clients section */
.clients .container {
  justify-content: center;
  align-items: center;
}
.clients .container .team-images {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: center;
  gap: 2.5rem;
  margin-top: 2rem;
}
.clients .container .team-images img {
  margin: 0 auto;
  width: 80px;
  opacity: 0.5;
}
.clients .container .team-images img:hover {
  opacity: 1;
}

.clients .container p {
  padding-top: 0.8rem;
}
.circles {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--primary-color-white);
  border: 2px solid var(--secondary-color-thick);
  margin: 10px;
}

/* start of contact section */
.contact .container .contact-boxes{
  display: grid;
  grid-template-columns: 1fr 1fr;
  
}
.contact-boxes{
  display: flex;
  gap: 1rem;
  margin-top: 1.5rem;
}
.box1{
  border-top: 3px solid var(--secondary-color-thick);
  background-color: white;
  padding: 1.5rem;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.contact{
  background-color: white;
}
.contact .container i{
  font-size: 30px;
}

.icon-text{
  display: grid;
  gap: 1.5rem;
  align-items: center;
  
}
.location-det{
  display: flex;
}
.location-det-right{
  display: grid;
  gap: 1.5rem;
  margin-left: 1rem;
}
.describe-text{
  justify-content: flex-start;
  
}
.describe-text h3{
  color: var(--primary-color-dark);
}
.describe-text p{
  color: var(--primary-color-medium-dark);
}
.embedded-map{
  margin-top: 2rem;
}

/* start of form */
form{
  width: 100%;
  margin: 20px auto;
  justify-content: center;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--primary-color-medium-dark);
  margin-top: 1rem;
}
input:focus{
  outline-color: var(--primary-color-light-dark);
  outline-width: 1px;
}
textarea {
  width: 100%;
  height: 200px;
  padding: 10px;
  border: 1px solid #ccc;
}
textarea:focus{
  outline-color: var(--primary-color-light-dark);
  outline-width: 1px;
}

.send-message-btn {
  background-color: var(--secondary-color-thick);
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  text-align: center;
  margin-top: 1rem;
}
#send-message:hover{
  opacity:.85;
}
/* end of form */
/* end of contact section */

/* newsletter section */
.newsletter{
  background-color: var(--secondary-color-xlight-bg);
}
.newsletter .container{
 text-align: center;
}
.newsletter .container h4{
 font-size: 24px;
 line-height: 1rem;
 margin-bottom: 20px;
 color: var(--primary-color-dark);
}

.newsletter .container p{
  color: var(--primary-color-dark);
 }
.email-letter{
  display: flex;
}

.newsletter .container input{
  width: 100%;
border: none;
box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
 }
 .newsletter .container input:focus{
  outline-offset: -5px;
 }
 .newsletter .container .subscribe-letter{
  position: absolute;
  right: 0;
 }
/* end of newsletter section */
 /* start of footer section */
 footer{
  display: flex;

 }
 footer .container{
  display: flex;
  gap: 3rem;
  justify-content: center;
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 3rem;
 }
.footer-logo{
  font-weight: 400;
  font-size: 1.5rem;
  color: var(--primary-color-dark);
}
 footer .container h4{
  margin-bottom: 1.5rem;
  color: var(--primary-color-dark);
 }

 footer .container ul li{
  line-height: 1.0rem;
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 7px 0;
  color: var(--primary-color-medium-dark);
 }
 
 footer .container li i{
  margin-right: 0.5rem;
  font-size: 12px;
  color: var(--secondary-color-mdlight);
  border-radius: 50%;
  line-height: 2rem;
 }
footer .container .social-networks li i{
  font-size: 15px;
  background-color: var(--secondary-color-thick);
  padding: 10px;
  color: var(--primary-color-white);
  border: 50px;
  margin-top: 1.5rem;
  line-height: 1rem;
}


 /* end of footer section */

/* start of copywright section */
.copywright{
  background-color: var(--secondary-color-xlight-bg);
  padding: 2rem 0;
}

.copywright .container{
  display: flex;
  justify-content: space-between;
  color: var(--primary-color-medium-dark);
}
/* end of copywright section */

/* start of responsiveness */
@media (max-width: 991px) {
  .fa-bars {
    visibility: visible;
  }
  .navBar {
    display: flex;
    padding: 1rem;
  }
  .navBar .container {
    justify-content: space-between;
  }
  .navBar .container ul {
    display: none;
  }
  .hero-section .container {
    display: block;
  }
  .hero-section .container h1 {
    font-size: 28px;
    line-height: 36px;
  }
  .about .container {
    display: block;
    overflow: visible;
  }
  .about .container .left,
  .about .container .right {
    justify-content: flex-start;
  }
  .about .container .right h3 {
    font-size: 34px;
    width: 100%;
    margin-bottom: 0.5rem;
    margin-top: 2rem;
  }
  .about .container .right .right-row2 {
    display: flex;
  }
  .services .container .rectangles {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
footer .container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 2rem 5%;
  
}

}

@media (max-width: 742px) {
  .about .container .right .right-row2 {
    display: block;
  }
  .services .container .rectangles {
    display: block;
  }
  .contact .container .contact-boxes{
    display: block;
  }
  footer .container{
    display: grid;
    grid-template-columns: 1fr;
    margin: 2rem 5%;
    
  }
}
